.section .section-stock {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    display: flex;
    align-items: center;
    letter-spacing: 0.016em;
    color: #1C1C1C;
}

.section .text-dashboard {
    margin-top: 18px;
    margin-bottom: 15px;
}

.section .table-heading {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 0.0093em;
    color: #1C1C1C;
    margin-top: 15px;

}

.section .pilih-gudang {
    padding: 3px;
    border: 1px solid #E8E8E8;
    border-radius: 5px;
    display: flex;
}

.section .jarak-text {
    padding-left: 5px;
}

.section .jarak-dropdown {
    padding-left: 45px;
}

.section .text-view {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 0.0128em;
    color: #1C1C1C;

}

.section .pagination {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 0.00933333em;
    color: #1C1C1C;
    float: right;
}

.section .fill {
    margin-top: 15px;
    margin-bottom: 10px;
}

.text-lokasi-gudang {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 16px;
    display: flex;
    align-items: center;
    letter-spacing: 0.00666667em;
    color: #1C1C1C;
}

.ket-gudang {
    font-size: 10px;
    background-color: #EDF7EE;
    height: 24px;
    color: #1B5E20;
    width: 82px;
    border-radius: 32px;
    font-family: 'Open Sans';
    font-weight: 600;
}

.ket-gudang-tutup {
    font-size: 10px;
    background-color: #FDE7E8;
    height: 24px;
    color: #EE1B25;
    width: 82px;
    border-radius: 32px;
    font-family: 'Open Sans';
    font-weight: 600;
}

.btn-ganti-gudang {
    font-family: 'Open Sans';
    font-style: normal;
    font-size: 14px;
    line-height: 24px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.0128em;
    color: #FAFAFF;
}


.inc-dec {
    display: flex;
    height: 32px;
    border: 1px solid #192A55;
    width: 103px;
    border-radius: 2px;
}

.num {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    align-items: center;
    letter-spacing: 0.00933333em;
    color: #1C1C1C;
    width: 38px;
    text-align: center;
}

.incnum {
    width: 32px;
    border: none;
    border-right: 1px solid #192A55;
}

.decnum {
    width: 32px;
    border: none;
    border-left: 1px solid #192A55;
}