.transaksi {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.00933333em;
    color: #192A55;
    display: block;
    padding-top: 10px;
}

.non-transaksi {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.00933333em;
    color: #4F4F4F;
    display: block;
    padding-top: 12px;
}