.pagination-btn-active {
  background-color: transparent;
  border: none;
  color: #1c1c1c;
  font-family: 'Open Sans';
  font-size: 14px;
  font-weight: 700;
}
.pagination-btn-inactive {
  background-color: transparent;
  border: none;
  color: rgba(28, 28, 28, 0.7);
  font-family: 'Open Sans';
  font-size: 14px;
  font-weight: 700;
}
.pagination-number-active {
  background-color: #ebf0fa;
  border: none;
  border-radius: 3px;
  color: #1c1c1c;
  font-family: 'Open Sans';
  font-size: 14px;
  font-weight: 700;
  padding: 10px 16px 10px 16px;
}
.pagination-number-inactive {
  background-color: transparent;
  border: none;
  padding: 10px 16px 10px 16px;
  color: #1c1c1c;
  font-family: 'Open Sans';
  font-size: 14px;
  font-weight: 700;
}
.view {
  color: #1c1c1c;
  font-family: 'Open Sans';
  font-size: 14px;
  font-weight: 400;
}
.select-view {
  border: 1px solid #828282 !important;
  height: 40px;
  width: 68px;
  text-align: center !important;
  border-radius: 4px;
  background: #ffffff !important;
}
.select-view option {
  background: #ffffff !important;
  margin-top: 0px;
  margin-bottom: 0px;
  height: 30px;
}
