#home {
  background: #192A55;
}
  
/* .text-width {
  width: 87%;
} */



/* 
========section2========
 */

#service {
  background: #EBF0FA;
  padding-top: 7.5rem;
}

.bg {
  background: #EBF0FA;
}

.more {
  cursor: pointer;
  color: #192A55;
  text-decoration: none !important;
}

.title {
  width: fit-content;
  background-color: #FDE7E8;
  border-radius: 40px;
  box-shadow: 0px 72px 256px rgba(0, 0, 0, 0.09), 0px 30.0799px 106.951px rgba(0, 0, 0, 0.0646969), 0px 16.0821px 57.181px rgba(0, 0, 0, 0.0536497), 0px 9.01552px 32.0552px rgba(0, 0, 0, 0.045), 0px 4.78807px 17.0243px rgba(0, 0, 0, 0.0363503), 0px 1.99242px 7.08418px rgba(0, 0, 0, 0.0253031);
}

.title-color {
  color: #EE1B25;
}

.service-image {
  height: 48px;
}

/* 
========section2========
 */


 /* 
========section3========
 */

 .top-testimoni {
   padding-top: 30px;
 }

 .carousel-indicators {
  left: 0;
  top: auto;
  bottom: -70px;
  margin-left: 0 !important;
  justify-content: start !important;
}

 .carousel-indicators li {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 15px !important;
  height: 15px !important;
  border-radius: 50% !important;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #192A55 !important;
  background-clip: padding-box;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: .5;
  transition: opacity .6s ease;
}

  /* 
========section4========
 */

.thumbnail {
  background-repeat: no-repeat;
  background-size: cover;
}

.top-article {
  margin-top: 15rem !important;
}


#blog {
  background-image: conic-gradient(at 50% 80%, #FFFFFF 
    0deg, #FFFFFF 
    90deg, #EBF0FA 
    90deg, #EBF0FA 
    180deg, #EBF0FA 
    180deg, #EBF0FA 
    270deg, #FFFFFF 
    270deg);
    padding-top: 10px;
}


footer {
  background: #192A55;
}










  /* 
========screen========
 */

 @media (max-width: 575.98px) { 

  .hero-title {
      font-size: 32px !important;
      color: #ffffff !important;
  }

  .hide {
    display: none !important;
  }

  #service {
      background: #EBF0FA;
      padding-top: 3.5rem;
  }

 }

 @media (min-width: 576px) and (max-width: 767.98px) {

  .hide {
    display: none !important;
  }

  #service {
      background: #EBF0FA;
      padding-top: 3.5rem;
  }

}

 @media (min-width: 768px) and (max-width: 991.98px) {
  #service {
      background: #EBF0FA;
      padding-top: 4.5rem;
  }

  .collapse .navbar-nav {
      position: unset !important;
  }

}

/* @media (min-width: 768px) and (max-width: 991.98px) {

} */

 /* @media (min-width: 1200px) and (max-width: 1399.98px) {
  
  .text-width {
    width: 87%;
  }

  .image-right {
    float: right;
  }

  .image-testimoni {
    display: flex;
    justify-content: end;
  }

 } */

@media (min-width: 1400px) {
  
  .text-width {
    width: 80%;
  }

  .image-right {
    float: right;
  }

  .hero-title {
      font-size: 63px !important;
      color: #ffffff !important;
  }

  .desc-title {
    font-size: 48px;
  }

}


/* ================================== */
/* 
.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container-sm, .container {
    max-width: 540px !important;
  }
}
@media (min-width: 768px) {
  .container-md, .container-sm, .container {
    max-width: 720px !important;
  }
}
@media (min-width: 992px) {
  .container-lg, .container-md, .container-sm, .container {
    max-width: 960px !important;
  }
}
@media (min-width: 1200px) {
  .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1140px !important;
  }
}
@media (min-width: 1400px) {
  .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1320px !important;
  }
} */




.container,
.container-fluid,
.container-sm,
.container-md,
.container-lg,
.container-xl,
.container-xxl {
  position: relative;
}


.container,
.container-fluid,
.container-sm,
.container-md,
.container-lg,
.container-xl,
.container-xxl {
  width: 100%;
  padding-right: var(--bs-gutter-x, 1rem);
  padding-left: var(--bs-gutter-x, 1rem);
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container, .container-sm {
    max-width: 540px !important;
  }
}

@media (min-width: 768px) {
  .container, .container-sm, .container-md {
    max-width: 720px !important;
  }
}


@media (min-width: 992px) {
  .container, .container-sm, .container-md, .container-lg {
    max-width: 960px !important;
  }
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
  .container, .container-sm, .container-md, .container-lg, .container-xl {
    max-width: 1140px !important;
  }

  .display-1 {
      font-size: 4.29982rem;
  }

  .d-xl-block {
      display: block !important;
  }
  
  .text-width {
    width: 87%;
  }

  .image-right {
    float: right;
  }

}

@media (min-width: 1540px) {
  .container, .container-sm, .container-md, .container-lg, .container-xl, .container-xxl {
    max-width: 1480px !important;
  }
}