.navbar {
  position: relative !important;
  display: flex;
  flex-wrap: wrap !important;
  align-items: center !important;
  justify-content: space-between !important;
  left: 0 !important;
  height: auto !important;
  padding: 1.5rem !important;
}

.navbar-nav {
  display: flex;
  flex-direction: column !important;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.navbar-light .navbar-toggler {
  color: rgba(0,0,0,.5);
  border-color: transparent !important;
}

.navbar-light .navbar-toggler-icon{
  background-image: url('../../../../assets/icons/list.svg') !important;
}


.bg-holder {
  position: absolute;
  width: 100%;
  min-height: 100%;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  will-change: transform, opacity, filter;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-repeat: no-repeat;
  z-index: 0;
}

.py-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.py-8 {
  padding-top: 7.5rem !important;
  padding-bottom: 7.5rem !important;
}

.min-vh-75 {
  min-height: 75vh !important;
}

@media (min-width: 992px) {
  /* .my-lg-8 {
      margin-top: 7.5rem !important;
      margin-bottom: 7.5rem !important;
  } */

  .navbar-expand-lg .navbar-nav {
      flex-direction: row !important;
  }

}

@media (min-width: 768px){
  .text-md-start {
      text-align: left !important;
  }

  /* .bg-none {
    background-image: none !important;
  } */

}

/* @media (min-width: 1200px) {
  .display-1 {
      font-size: 4.29982rem;
  }

  .d-xl-block {
      display: block !important;
  }

} */
/* 
.hero-title {
    font-size: 51px !important;
    color: #ffffff !important;
} */
