.title-modal {
  font-weight: 700;
  font-family: 'Work Sans';
  font-size: 18px;
  color: #1c1c1c;
  margin-left: 10px;
}
.body-modal {
  color: #1c1c1c;
  font-weight: 400;
  font-family: 'Open Sans';
  font-size: 14px;
}
.input-label {
  font-family: 'Open Sans';
  font-size: 14px;
  font-weight: 600;
  color: #1c1c1c;
}
.input-error {
  border: 1px solid #ee1b25;
}
.text-input-error {
  color: #ee1b25;
  font-size: 12px;
}
.input-password:focus {
  border: 1px solid red;
  background-color: tomato;
}
