/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Work+Sans:wght@400;700&display=swap');
/* FONT */
.background-image-login {
  background-image: url('../../../../assets/images/loginBackground.jpg');
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-size: cover;
}

.password-hide {
  margin-top: -35px;
  display: flex;
  margin-left: auto;
  margin-right: 10px;
}

.overlay-login {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(25, 42, 85, 0.5);
  z-index: 0;
}

.content-login {
  /* align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh; */
  padding-left: 30px;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.content-login .logo .img-fluid {
  height: 100px;
  width: auto;
}

.content-login .logo img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.col2 {
  width: 100vw;
  height: 100vh;
}

.wrapper1-login {
  /* display: flex;
  justify-content: flex-start;
  align-items: center;
  height: auto; */
  display: block;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.login-box {
  /* position: absolute; */
  /* width: 350px; */
  height: auto;
  /* margin-left: 110px; */
  /* margin-right: 275px; */
  /* margin-top: 72px; */
  /* margin-bottom: 72px; */
  /*   */
  flex-direction: column;
  /* Color Base / White */

  background: #fafaff;
}

/* .login-text {
  margin-left: 16px;
  margin-top: 24px;
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  align-self: flex-start;
  line-height: 40px;
  letter-spacing: 0.0208em;
  color: #1c1c1c;
} */

.login-text {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 40px;
  letter-spacing: 0.0208em;
  color: #1c1c1c;
  padding-bottom: 15px;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 95%;
}

.form-login {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 15px;
}

.field {
  margin-top: 30px;
}

/* .text-forget {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 24px;
} */

.tombol-login {
  font-family: 'Open Sans';
  font-size: 16px !important;
  padding: 10px !important;
  background-color: #192a55 !important;
  border-color: #192a55 !important;
  width: 95%;
}

.tombol-login:hover {
  background-color: #192a55;
}

.text1-login {
  /* margin-top: 20px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.0128em;
  color: #1C1C1C;

  margin-left: .8vw;
  text-align: left; */
  margin-top: 20px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.0128em;
  color: #1c1c1c;
  width: auto;
}

.text2-login {
  /* margin-top: 30px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.0128em;
  color: #1C1C1C;

  float: left;
  margin-left: .8vw; */
  margin-top: 30px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.0128em;
  color: #1c1c1c;
}

.text-form-login {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600 !important;
  font-size: 16px !important;
  line-height: 24px;
  letter-spacing: 0.0128em !important;
  color: #1c1c1c !important;
}

.text-placeholder-login {
  /* height: 48px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 400;
  color: #828282; */
  height: 48px !important;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 400 !important;
  color: #828282 !important;
}

.a-login {
  margin-top: 10px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  /* display: flex; */
  align-items: center;
  letter-spacing: 0.0128em;
  color: #192a55;
  text-decoration: none;
  background-color: transparent;
}

.a-login:hover {
  color: #192a55;
}

.form {
  margin-left: 16px;
  margin-right: 16px;
  background-color: aqua;
}

/* @media (max-width: 575.98px) { 
  .content-login .logo .img-fluid {
    height: 100px;
    width: auto;
    margin-top: -300px;
  }

  .login-box {
    margin-top: -900px;
    background: #fafaff;
  }
}

@media (min-width: 576px) { 
  .content-login .logo .img-fluid {
    height: 100px;
    width: auto;
    margin-top: -300px;
  }

  .login-box {
    margin-top: -900px;
    background: green;
  }
}

@media (min-width: 768px) { 
  .content-login .logo .img-fluid {
    height: 100px;
    width: auto;
    margin-top: -300px;
  }

  .login-box {
    margin-top: -900px;
    background: red;
  }
} */
/* @media (min-width: 576px) { 
  .content-login .logo .img-fluid {
    height: 100px;
    width: auto;
    margin-top: -300px;
  }

  .wrapper1-login {
    display: block;
    height: auto;
    margin-top: -900px;
    margin-left: 150px;
    margin-right: 150px;
  }
} */

/* 

@media (min-width: 768px) { 
  .content-login .logo .img-fluid {
    height: 100px;
    width: auto;
    margin-top: -300px;
  }

  .wrapper1-login {
    display: block;
    height: auto;
    margin-top: -900px;
    margin-left: 150px;
    margin-right: 150px;
  }
}

@media (min-width: 992px) {
  .wrapper1-login {
    display: block;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1200px) { 
  .wrapper1-login {
    display: block;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }
} */
