.unrows {
    margin-right: 0 !important;
    margin-left: 0 !important;
    border-bottom: 1px solid #E8E8E8;
}

.no-border {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.uncols {
    padding-left: 0 !important;
}