.background-map {
  height: 100px;
  width: 100%;
  background-size: cover;
  background-image: url('../../../assets/images/backgroundMap.svg');
  border-radius: 4px;
  overflow: hidden;
  color: #fafaff;
}
