.arrowleft-req-gudang {
  color: #1c1c1c;
  border-radius: 4px;
  background-color: #f2f2f2;
  font-size: 15px;
  margin-right: 3px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.control-tipe-penyimpanan .MuiFormControlLabel-label {
  font-size: 14px;
  font-weight: 700;
  font-family: 'Work Sans';
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}

/* .slick-track {
  width: 100% !important;
} */
