.form-group {
    width: 100%;
    margin-bottom: 9px !important;
}

.gudang-a {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    /* display: flex; */
    align-items: center;
    letter-spacing: 0.0093em;
    color: #1C1C1C;
}

.lokasi-gudang {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 16px;
    /* display: flex; */
    align-items: center;
    letter-spacing: 0.00666667em;
    color: #1C1C1C;
}

.jarak-gudang {
    margin-top: 4px;
    padding-left: 10px;
}

.btn-export {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 0.00933333em;
    color: #192A55;
}

.btn-gudang-center {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.00933333em;
    color: #FAFAFF;
}

.text-pickup-order {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    /* display: flex; */
    align-items: center;
    text-align: center;
    letter-spacing: 0.012em;
    color: #1C1C1C;
    margin-top: 16px;
    margin-bottom: 4px;

}

.desc-pickup-order {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    /* display: flex; */
    align-items: center;
    text-align: center;
    letter-spacing: 0.0128em;
    color: #4F4F4F;
    }