/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Work+Sans:wght@400;700&display=swap');
/* FONT */

.background-image {
  background-image: url('../../../../assets/images/loginBackground.jpg');
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-size: cover;
}

.background-image:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #192a55;
  opacity: 0.5;
}

.overlay-register {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  /* background-color: rgba(25, 42, 85, 0.5); */
  z-index: 0;
}

.step1 {
  background-color: #ebf0fa;
  border: 1px solid #ebf0fa;
  border-radius: 8px;
  height: 44px;
  /* width: 100%; */
  margin: 2px;
  margin-left: -13px;
}

.step1 img {
  padding-right: 10px;
}

/* .step1 .daftar {
  color: #192A55;
  margin: 30px;
  font-family: 'Open Sans';
  font-size: 16px;
  align-items: center;
  font-weight: bold;
  display: flex;
  margin-top: 10px;
} */

.step1 .daftar {
  text-align: center;
  color: #192a55;
  font-family: 'Open Sans';
  font-size: 16px;
  align-items: center;
  font-weight: bold;
  display: block;
  margin-top: 10px;
}

.step2 img {
  padding-right: 10px;
}

.step2 .info {
  /* color: #828282;
  margin: 30px;
  font-family: 'Open Sans';
  font-size: 16px;
  align-items: center;
  font-weight: bold; */
  text-align: center;
  color: #828282;
  font-family: 'Open Sans';
  font-size: 16px;
  align-items: center;
  font-weight: bold;
  display: block;
  margin-top: 10px;
}

/* .password-show {
    position: absolute;
    left: 510px;
    margin-top: 45px;
  } */

.password-show {
  margin-top: -35px;
  display: block;
  margin-left: auto;
  margin-right: 10px;
}

.content {
  padding-left: 30px;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.content .logo img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.col2 {
  width: 100vw;
  height: 100vh;
}

/* .wrapper1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  } */

.wrapper1 {
  display: block;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

/* .register-box {
    width: 445px;
    height: auto;
    margin-left: 110px;
    margin-right: 275px;
    margin-top: 24px;
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;  
    background: #fafaff;
  } */

.register-box {
  height: auto;
  margin-top: 24px;
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  background: #fafaff;
  border-radius: 5px;
}

/* .header-btn {
  margin: auto;
  border-style: solid;
  width: 100%;
  border-radius: 1px;
  border-width: 1px;
} */

.header-btn {
  height: 50px;
  margin: auto;
  width: 100%;
  border: 1px solid #eee;
}

.form-register {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 15px;
}

/* .register-text {
    margin-left: 16px;
    margin-top: 24px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    align-self: flex-start;
    line-height: 40px;
    letter-spacing: 0.0208em;
    color: #1c1c1c;
  } */

.register-text {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 40px;
  letter-spacing: 0.0208em;
  color: #1c1c1c;
  padding-bottom: 15px;
}

/* .length-text {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.0096em;
    color: #4F4F4F;
    margin-left: 386px;
} */

.length-text {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.0096em;
  color: #4f4f4f;
  display: block;
  margin-left: auto;
}

/* .field {
    margin-top: 30px;
  } */

/* .tombol {
    padding: 10px !important;
    margin-top: 25px;
    color: #fff !important;
    background-color: #192A55 !important;
    border-color: #192A55 !important;
    width: 90%;
    margin-left: 21px;
  } */

.tombol {
  font-family: 'Open Sans';
  font-size: 16px !important;
  padding: 10px !important;
  /* margin-top: 25px; */
  color: #fff !important;
  background-color: #192a55 !important;
  border-color: #192a55 !important;
  width: 95%;
}

.tombol:hover {
  background-color: #192a55 !important;
}

/* .text1 {
    margin-top: 20px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.0128em;
    color: #1C1C1C;
  
    margin-left: .8vw;
    text-align: left;
  } */

.text1 {
  margin-top: 20px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.0128em;
  color: #1c1c1c;
  text-align: left;
}

/* .text2 {
    margin-top: 30px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.0128em;
    color: #1C1C1C;
  
    float: left;
    margin-left: .8vw;
  } */

.text2 {
  margin-top: 30px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.0128em;
  color: #1c1c1c;
}

.text-form {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600 !important;
  font-size: 16px !important;
  line-height: 24px;
  letter-spacing: 0.0128em !important;
  color: #1c1c1c !important;
}

.text-placeholder {
  height: 48px !important;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 400 !important;
  color: #828282 !important;
}

.text-placeholder-telp {
  /* width: 80px !important; */
  width: 100% !important;
  height: 48px !important;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 400 !important;
  color: #828282 !important;
}

/* .text-placeholder-input {
    width: 303px !important;
    height: 48px !important;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 400 !important;
    color: #828282 !important;
  } */

.text-placeholder-input {
  height: 48px !important;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400 !important;
  color: #828282 !important;
}

.a {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  align-items: center;
  letter-spacing: 0.0128em;
  color: #192a55;
  text-decoration: none;
  background-color: transparent;
}

.a:hover {
  color: #192a55;
}

.form {
  margin-left: 16px;
  margin-right: 16px;
  background-color: aqua;
}

.form-checklist {
  font-family: Open Sans;
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 16px !important;
  line-height: 24px;
  letter-spacing: 0.0128em !important;
  color: #1c1c1c !important;
}

.form-checklist img {
  margin-right: 5px;
}
