.text-invoice {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 0.0093em;
    color: #1C1C1C;
    padding-top: 10px;
    padding-left: 15px;
}