.map-regular-transaction {
  height: 100px;
  width: 100%;
  /* background-color: rgb(28, 28, 28); */
  background-size: cover;
  /* opacity: 0.7; */
  background-image: url('../../../../assets/images/backgroundMap.svg');
  border-radius: 4px;
  overflow: hidden;
  color: #fafaff;
}
