$sidebar-bg-color: #192A55;
$submenu-bg-color: #192A55;
$submenu-bg-color-collapsed: #192A55;
// $sidebar-color: #adadad;
// $highlight-color: #d8d8d8;
$icon-bg-color: #192A55;
// $icon-size: 35px;

@import '~react-pro-sidebar/dist/scss/styles.scss';