@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,700;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Work+Sans:ital,wght@0,700;1,600&display=swap');

/* .halfTriangel1 {
  background-image: url("../../assets/images/halfTriangleHome.svg");
  width: 100vw;
  height: 100vh;
  background-size: cover;
} */

.section2 {
  background-color: rgba(235, 240, 250, 1);
  width: 100vw;
  /* height: 70vh; */
}

/* .halfTriangel2 {
  background-image: url("../../assets/images/halfTriangle2.svg");
  width: 100vw;
  height: 100vh;
  background-size: cover;
} */

/* .background {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
} */

.background1 {
  width: 100vw;
  height: 720px;
  /* background-image:
      linear-gradient(to bottom right, transparent 50%, red 0),
      linear-gradient(to top right, red 50%, transparent 0); */
  background-image:
      /* linear-gradient(to bottom right, transparent 50%, red 0), */ linear-gradient(
    to top left,
    #ebf0fa 50%,
    transparent 0
  );
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: left, right;
  /* position: absolute; */
  top: 0;
  left: 0;
  /* z-index: -1; */
}

.background2 {
  width: 100vw;
  height: 504px;
  /* background-image:
    linear-gradient(to bottom right, transparent 50%, red 0),
    linear-gradient(to top right, red 50%, transparent 0); */
  background-image:
    /* linear-gradient(to bottom right, transparent 50%, red 0), */ linear-gradient(
    to bottom right,
    #ebf0fa 50%,
    transparent 0
  );
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: left, right;
  /* position: absolute; */
  top: 0;
  left: 0;
  /* z-index: -1; */
}

.font-work-sans {
  font-family: 'Work Sans', sans-serif;
  font-size: 40px;
  font-weight: bold;
  color: #1c1c1c;
}

.font-open-sans {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.0128em;
  color: #4f4f4f;
}

.background-card {
  background-image: url('../../../assets/images/cardImage.png');
  opacity: 1;
  background-size: cover;
}

.wsm {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.0128em;
  color: #ee1b25;
}

.selengkapnya {
  float: right;
  margin-top: 40px;
}

.selengkapnya .text {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.0128em;
  color: #192a55;
}

.col-left {
  margin-top: 129px;
}

.col-right {
  margin-top: 55px;
}

.btn-left {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.0128em;
  color: #192a55;
}

.btn-right {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.0128em;
  color: #fafaff;
}

.jarak-btn {
  margin-top: 40px;
}

.services {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 16px !important;
  line-height: 24px;
  letter-spacing: 0.0128em;
  color: #1c1c1c;
}

.services-content {
  margin-top: 56px;
}

.services-desc {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.0128em;
  color: #4f4f4f;
}

.services-jarak {
  margin-top: 40px;
}

.testimoni {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.0128em;
  color: #ee1b25;
}

.testimoni-img {
  margin-top: 112px;
}

.testimoni-jarak {
  margin-top: 32px;
}

.testimoni-desc {
  font-family: Work Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 40px;
  letter-spacing: 0.0208em;
  color: #1c1c1c;
}

.testimoni-jabatan {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.0128em;
  color: #4f4f4f;
  margin-bottom: 0px;
}

.testimoni-name {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.0128em;
  color: #4f4f4f;
}

.testimoni-ellipse {
  margin-top: 32px;
}

.testimoni-ellipse-jarak {
  margin-left: 15px;
  margin-right: 15px;
}

.blog {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  letter-spacing: 0.0256em;
  color: #1c1c1c;
}

.blog-desc {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.0128em;
  color: #4f4f4f;
}

.blog-article {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.0096em;
  color: #fafaff;
}

.blog-aplikasi {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 30px;
  letter-spacing: 0.016em;
  color: #fafaff;
}

.blog-selengkapnya {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.0128em;
  color: #fafaff;
  padding-left: 10px;
}

.footer-bold {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  /* letter-spacing: 0.0128em; */
  color: #fafaff;
}

.footer-top {
  margin-top: 56px;
}

.footer-normal {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.0128em;
  color: #fafaff;
}

.footer-600 {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.0128em;
  color: #fafaff;
}

.footer-header {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.0128em;
  color: #ebebff;
  opacity: 0.8;
}

.sales {
  margin-top: 40px;
}

.development {
  margin-top: 40px;
}

.footer-img {
  margin-top: 40px;
}

.footer-img .jarak {
  margin-left: 15px;
  margin-right: 15px;
}

.gudang-img {
  margin-top: 40px;
}
