.dotActive-timeline {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translateX(-9px);
  animation: dot-active 500ms linear 0s infinite alternate-reverse none;
  background-color: #182953;
}

@keyframes dot-active {
  from {
    box-shadow: 0px 0px 0px 3px rgba(180, 195, 233, 1);
    -webkit-box-shadow: 0px 0px 0px 3px rgba(180, 195, 233, 1);
    -moz-box-shadow: 0px 0px 0px 3px rgba(180, 195, 233, 1);
  }
  to {
    box-shadow: 0px 0px 7px 6px rgba(180, 195, 233, 1);
    -webkit-box-shadow: 0px 0px 7px 6px rgba(180, 195, 233, 1);
    -moz-box-shadow: 0px 0px 7px 6px rgba(180, 195, 233, 1);
  }
}
